@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

h1{
color: red;


}

.nav-container{

display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-column-gap: 1rem;

background-color: #123981;

width: 100%;



}

.main-dashboard{

display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-column-gap: 1rem;


}

.dashboard-component{
    margin: 5%;
    padding: 5%;
    border-radius: 2%;
    background-color: #ffffff1f;
    backdrop-filter: blur(10px);
    justify-content: center;

}

.nav-item{
    margin: 5% 10%;
    list-style: none;
    padding: auto;

}

.link1{

grid-row: span 3;

}



.nav-item a {

    /*Make links look like normal text*/
    font-family: Arial, sans-serif;
    border: 1px solid white; /* solid borders */
    padding: 3% 8%;
    color: white; /* black text color */   
    text-decoration: none; /* remove any underlining */
    font-family: 'Open Sans', sans-serif;

}



body{

margin: 0;
background-image: url(../img/daytime.jpg);
background-size: cover;

font-family: 'Open Sans', sans-serif;
}